body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #424242;
  color: #fafafa;
}

.result-wrapper{
  margin: 20px auto;
  width: 80vw;
  text-align: center;
}
.result-content{
  padding: 10px;
}
.results-search-area, .results-whisky-wrapper{
  padding: 10px;
  margin: 0 auto;
  width: 90%;
}

.slider-page {
  width: 70%;
  height: 100%;
  margin: 50px auto;
  padding: 30px;
}

.slider-section{
  padding: 10px 30px 20px;
  text-align: center;
}