body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fafafa;
  background: url('https://www.trumpgolfscotland.com/images/dynamic/getImage.gif?ID=100000800') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.result-wrapper{
  margin: 20px auto;
  width: 80vw;
  text-align: center;
}
.result-content{
  padding: 10px;
}
.results-search-area, .results-whisky-wrapper{
  padding: 10px;
  margin: 0 auto;
  width: 90%;
}

.slider-page {
  width: 70%;
  height: 100%;
  margin: 20px auto;
  background: #a8a4a0e6;
  border-radius: 4px;
}

.slider-section{
  width: 40%;
  padding: 10px 30px 20px;
  text-align: center;
}

.bottle-image-wrapper{
  margin: 0px auto;
}
.bottle-image{
  margin: 10px 0px;
  width: 250px;
  height: 400px;
}
.quiz-button{
  width: 100%;
}

.error-wrapper{
  margin: 10px 0px;
}

@media all and (min-width: 0px) and (max-width: 960px) {
  body{
    background: #757575;
  }

  .slider-section{
    width: 100%;
  }
  
  .bottle-image-wrapper{
    display: none;
    width: 0%;
  }
}