body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fafafa;
  background: url('https://www.trumpgolfscotland.com/images/dynamic/getImage.gif?ID=100000800') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.result-wrapper{
  margin: 20px auto;
  width: 80vw;
  text-align: center;
}
.result-content{
  padding: 10px;
}
.results-search-area, .results-whisky-wrapper{
  padding: 10px;
  margin: 0 auto;
  width: 90%;
}

.slider-page {
  width: 70%;
  height: 100%;
  margin: 20px auto;
  padding: 30px;
  background: rgba(168, 164, 160, 0.8)
}

.slider-section{
  padding: 10px 30px 20px;
  text-align: center;
}