.home-page{
    height: calc(100vh - 64px);
    background-image: url("https://static.wixstatic.com/media/81afdc_30ec6ede83724cdbbf25d4da8b4edde1~mv2.gif");
    background-size: 100%;
}

.home-description{
    text-align: center;
    color: white;
    padding: 200px 500px 0px 0px;
}

@media all and (min-width: 0px) and (max-width: 960px) {

    .home-page{
        background: #757575;
    }

    .home-description{
        padding: 25px 0 0 0;
    }

  }