.home-page{
    height: calc(100vh - 64px);
    background-image: url("https://static.wixstatic.com/media/81afdc_30ec6ede83724cdbbf25d4da8b4edde1~mv2.gif");
    background-size: 100%;
}

.home-description{
    position: absolute;
    text-align: center;
    color: white;
    top: 50%;
    left: 20%;
    margin: -190px 0 0 -150px;
}