.bottle-image{
    width:200px;
    height: 200px;
    margin-top: 25%;
}

/* body {
    background: url('https://www.trumpgolfscotland.com/images/dynamic/getImage.gif?ID=100000800');
    background-repeat: no-repeat;
    height: 100vh;
} */

